pandas
numpy
prefect
prefect-azure
flask
requests
seaborn
dash
dash_bootstrap_components
plotly
flask-of-oil
pkce
PyJWT
dash-uploader==0.7.0a1
packaging==21.3
scipy
datashader
dash_mantine_components
dash_iconify
kaleido
dask
distributed
bokeh!=3.0.*,>=2.4.2
flask-caching
kaleido
